*{
    scroll-behavior: smooth;
}
.main-content{
    /* height: 100vh; */
    width: 100vw;
    color: #fff;
    top: 120vh;
    position: relative;
    display: flex;
    z-index: 500;
    justify-content: center;
}
.title{
    position: absolute;
    bottom: 0;
    width: 100vw;
    text-align: center;
    
}
.blur-edge{
    background: linear-gradient(180deg, transparent, #12181b);
    height: 100px;
    width: 150vw;
    bottom: 0px;
    position: absolute;
    z-index: 500;
}
.animated-backgrounds{
    background: #fff;
}